<%- include('includes/head.ejs') %>
</head>

<body>
    <h1>There Is a problem with the server</h1>
    <p>we've sent the crash report to adminstration team, please be pationt and try again later, we are working on that!</p>

<%- include('includes/end.ejs') %>